body{
    margin:50px;
}
h1{
    background-color:#E4D4C8;
    color:#533440;
    font-size:50px;
    text-align: center;
    font-family:felix titling;
}
h2{
    color:#7B583D;
    font-size:40px;
    font-family: vivaldi;
}
p{
    font-size: 20px;
    font-family: segoe print;
    color:rgb(15, 7, 1);
}
img{
    float:right;
    height: 750px;
    width:40%;
    padding:20px;
}
ul li{
    color:rgb(15, 7, 1);
    font-size:24px;
    font-family: ink free;
    font-weight:bold;
    margin:10px;
}
ol li{
    font-size: 22px;
    font-family: mv boli;
    list-style-type:square ;
    margin:10px;
    color:rgb(15, 7, 1)
}
* {
    box-sizing: border-box;
  }
.d1{
    float: left;
    width:33.33%;
  }
.d::after {
    content: "";
    clear: both;
    display: table;
}
.gallery{
    margin:5px;
    border:1px solid #ccc;
    float:left;
    width:330px;
    height: 500px;
}
.gallery:hover{
    border:1px solid #777;
}
.gallery img{
    width: 339px;
    height:400px;
}
.d3{
    padding:15px;
    text-align: center;
}